<% function tellmonth(indexOfMonth){ %>
  <%const monthnames = ['jan','feb','march','april','may','june','july','august','september','october','december']; %>
   <%return monthnames[indexOfMonth]%>
<%}%>

<% if(typeof verifiedArticles != 'undefined') { %>
 <%   verifiedArticles.forEach(function(article){ %>
    <div class="col-md-12">
        <!-- <%- verifiedArticles %> -->
              <div class="blog-entry ftco-animate d-md-flex">
                  <a href="single.html" class="img img-2" style="background-image: url(images/image_1.jpg);"></a>
                  <div class="text text-2 pl-md-4">
                    <h3 class="mb-2"><a href="single.html"><%= article.title %></a></h3>
                      <div class="meta-wrap">
                            <p class="meta">
                                <span><i class="icon-calendar mr-2"></i> <%= article.date.getDate()%> / <%= tellmonth(article.date.getMonth())%> / <%= article.date.getFullYear()%>  </span>
                                <span><a href="single.html"><i class="icon-folder-o mr-2"></i>Travel</a></span>
                                <span><i class="icon-comment2 mr-2"></i>5 Comment</span>
                            </p>
                      </div>
                    <p class="mb-4"> <%= article.body.slice(0,60) %>....</p>
                    <p><a href="#" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
                  </div>
              </div>
          </div>
   <% }); %>
<% } %>

