<!-- <div id="colorlib-page">

<a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    <aside id="colorlib-aside" role="complementary" class="js-fullheight">
      <div class="user-panel d-flex">
        <div class="image">
          <img src="<%=user.image.slice(6)%>" class="img-circle elevation-2" alt="User Image" />
        </div>
        <div class="info">
          <a href="#" class="d-block"><%= user.full_name%></a>
        </div>
      </div>
        <nav id="colorlib-main-menu" role="navigation">
            <ul>
                <li><a href="/userDashboard">Home</a></li>
                <li class="colorlib-active"><a  href="/userDashboard/articles/<%= user.id %>">Articles</button></li>
                <li><a href="/userDashboard/profile/<%user.id%>">Profile</a></li>
                <li><a href="/userDashboard/Notifications/<%user.id%>">Notifications</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </nav>
    </aside>

  <div class="colorlib-main">
    <section class="ftco-section ftco-no-pt ftco-no-pb">
      <div class="container">
        <div class="row mt-5">
          <div class="col-md-6 m-auto">
        <div class="card card-body">
    <form action="/publisher/<%= user.id %>/article" method="POST">
        <%- include ('partials/messages') %>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            style="border-radius: 10px;"
            type="title"
            id="title"
            name="title"
            class="form-control"
            placeholder="title....."
            required
          />
          <br />
        <div class="form-group shadow-textarea">
          <label for="exampleFormControlTextarea6">Write your article here or upload it</label>
          <textarea style="border-radius: 5px;" class="form-control z-depth-4" id="body" name="body" rows="17" placeholder="Write your article here..."></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Category </label>
          <select class="browser-default custom-select" name="category" id="category">
              <option  value="" disabled selected>Select Category</option>
              <option value="investment">Investment Articles</option>
              <option value="Tax">Tax Implications</option>
              <option value="personal">Personal Articles</option>
              <option value="IT">IT Articles</option>
              <option value="conduct">Porfessional Conduct</option>
              <option value="other">Other</option>
          </select>
        </div>
    
        <div class="custom-control custom-radio">
          <input type="radio" class="custom-control-input" id="verified" name="verified" value="true">
          <label class="custom-control-label" for="verified">verified</label>
        </div>
    
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
          </div>
        </div>
       
        <br />
    
        <button onclick="" style="float: right;" class="btn btn-primary">
          Publish 
        </button>
        <button style="margin-bottom: 20px;" type="submit" style="float: right;" class="btn btn-secondary">
          <i class="far fa-save"></i>
          Save 
        </button>
      </form>


        </div>
      

  </div>
</div>   
</div>
      
    </section>
  </div>
</div> -->


<!-- <body> -->
  
  <div id="colorlib-page">
    <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
    <aside id="colorlib-aside" role="complementary" class="js-fullheight">
      <div class="user-panel d-flex">
        <div class="image">
          <img src="<%=user.image.slice(6)%>" class="img-circle elevation-2" alt="User Image" />
        </div>
        <div class="info">
          <a href="#" class="d-block"><%= user.full_name%></a>
        </div>
      </div>
        <nav id="colorlib-main-menu" role="navigation">
            <ul>
                <li><a href="/userDashboard">Home</a></li>
                <li class="colorlib-active"><a  href="/userDashboard/articles/<%= user.id %>">Articles</button></li>
                <li><a href="/userDashboard/profile/<%user.id%>">Profile</a></li>
                <li><a href="/userDashboard/Notifications/<%user.id%>">Notifications</a></li>
                <li><a href="/logout">logout</a></li>
            </ul>
        </nav>
    </aside>

    <div id="colorlib-main">
        <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container">
            <div class="row d-flex">
                <div class="col-xl-8 py-5 px-md-5">
                    <div class="row pt-md-8" style="border: 1px solid red;">
                      <form action="/publisher/<%= user.id %>/article" method="POST" enctype="multipart/form-data">
                        <%- include ('partials/messages') %>
                        <div class="form-group">
                          <label for="title">Title</label>
                          <input
                            style="border-radius: 10px;"
                            type="title"
                            id="title"
                            name="title"
                            class="form-control"
                            placeholder="title....."
                            required
                          />
                          <br />
                        <div class="form-group shadow-textarea">
                          <label for="exampleFormControlTextarea6">Write your article here or upload it</label>
                          <textarea style="border-radius: 5px;" class="form-control z-depth-4" id="body" name="body" rows="17" placeholder="Write your article here..."></textarea>
                        </div>
                        <div class="form-group">
                          <label for="exampleFormControlSelect1">Category </label>
                          <select class="browser-default custom-select" name="category" id="category">
                              <option  value="" disabled selected>Select Category</option>
                              <option value="investment">Investment Articles</option>
                              <option value="Tax">Tax Implications</option>
                              <option value="personal">Personal Articles</option>
                              <option value="IT">IT Articles</option>
                              <option value="conduct">Porfessional Conduct</option>
                              <option value="other">Other</option>
                          </select>
                        </div>
                    
                        <div class="custom-control custom-radio">
                          <input type="radio" class="custom-control-input" id="verified" name="verified" value="true">
                          <label class="custom-control-label" for="verified">verified</label>
                        </div>
                    
                        <div class="form-group">
                          <label for="exampleInputFile">Upload Profile Image</label>
                          <input type="file" class="form-control-file" name="relatedImage" id="relatedImage" aria-describedby="fileHelp">
                          <small id="fileHelp" class="form-text text-muted">upload your profile pictures here. Optional</small>
                        </div>
                        </div>
                       
                        <br />
                    
                        <button onclick="" style="float: right;" class="btn btn-primary">
                          Publish 
                        </button>
                        <button style="margin-bottom: 20px;" type="submit" style="float: right;" class="btn btn-secondary">
                          <i class="far fa-save"></i>
                          Save 
                        </button>
                      </form>
                       
                </div><!-- END-->
                  

          <div class="col-xl-4 sidebar ftco-animate bg-light pt-5">
           <p>Hello</p>


            <!-- <div class="sidebar-box ftco-animate">
              <h3 class="sidebar-heading">Paragraph</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut.</p>
            </div> -->
          </div><!-- END COL -->
            </div>
        </div>
        </div>
      </section>
    </div><!-- END COLORLIB-MAIN -->
</div><!-- END COLORLIB-PAGE -->

<!-- loader -->
<!-- <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div> -->


<!-- </body> -->
